/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
}
img {
    width: 300px;   /* tamanho da imagem */
    border-radius: 8px; /* bordas arredondadas (opcional) */
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;   

}


h2{
    color: #580000;
}



/* ############################################# Hero Section */
.hero {
    background-color: #F7F7F7;
    /* background-image: linear-gradient(to left,#004080 , #408ad3, #FFA500); */
    /* animation: degrade-animado 15s   alternate infinite; */
    color: rgb(0, 54, 170);
    text-align: center;
    padding: 5px 2px;
}

.hero .container {
  display: flex;               /* Coloca imagem e texto lado a lado */
  align-items: center;         /* Centraliza verticalmente */
  justify-content: flex-start; /* Mantém o texto à direita da imagem */
  gap: 15px;                   /* Espaço entre a imagem e o texto */
}


.hero .logo {
    width: 150px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* #############################################    TEXTO */
.texto {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}
.texto h1{
    color: #000000;
}



/* #############################################    NAVBAR */
.navbar {
    background-color: #FFA500;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #003366;
}


/* SEÇÕES */
.fotos {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 40px auto;
    gap: 25px;
}

.fotos img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.texto, .texto1 {
    max-width: 600px;
    line-height: 1.45;
}

h1 {
    color: #003366;
    margin-bottom: 8px;
    font-size: 28px;
}

h2 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #002244;
}

.reverse {
    flex-direction: row-reverse;
}



/* FOOTER */
.footer {
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    background: #003366;
    color: white;
}
