body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
}

/* ############################################# Hero Section */
.hero {
    background-color: #F7F7F7;
    /* background-image: linear-gradient(to left,#004080 , #408ad3, #FFA500); */
    /* animation: degrade-animado 15s   alternate infinite; */
    color: rgb(0, 54, 170);
    text-align: center;
    padding: 5px 2px;
}

.hero .container {
  display: flex;               /* Coloca imagem e texto lado a lado */
  align-items: center;         /* Centraliza verticalmente */
  justify-content: flex-start; /* Mantém o texto à direita da imagem */
  gap: 15px;                   /* Espaço entre a imagem e o texto */
}


.hero .logo {
    width: 150px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* #############################################    TEXTO */
.texto {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}
.texto h1{
    color: #000000;
}



/* #############################################    NAVBAR */
.navbar {
    background-color: #FFA500;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #003366;
}

/* MAIN */
.content {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.section-title {
    font-size: 28px;
    color: #003366;
    margin-bottom: 20px;
}

/* FILTRO */
.filter-box {
    margin-bottom: 20px;
}

#filter-year {
    padding: 6px;
    border-radius: 5px;
}

/* EDITAIS */
.year-block {
    margin-bottom: 25px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.year {
    margin-top: 0;
    color: #003366;
}

.edital-list {
    padding-left: 18px;
}

.edital-card {
    background: #eef3fa;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
}

.edital-card a {
    color: #003366;
    font-weight: bold;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 15px;
    background: #003366;
    color: white;
    margin-top: 40px;
}